<mat-toolbar class="mat-elevation-z8">
    <span class="fill-remaining-space">Producto</span>
    <button mat-icon-button class="help-button" (click)="openHelp()">
    <mat-icon> help </mat-icon>
  </button>
</mat-toolbar>
<div class="container">
    <div class="form-container" novalidate [ngClass]="helpClicked ? 'w70' : 'w100'">
        <form [formGroup]="formGroup" class="form">
            <mat-form-field class="form-element" style="width: 50%">
                <input matInput placeholder="Nombre" formControlName="Name" />
                <mat-error *ngIf="!controls('Name').valid && controls('Name').touched">
                    {{ error }}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-element" style="width: 100%">
                <textarea matInput placeholder="Descripcion" formControlName="Description">
        </textarea>
                <mat-error *ngIf="
            !controls('Description').valid && controls('Description').touched
          ">
                    {{ error }}
                </mat-error>
            </mat-form-field>

            <div class="form-element">
                <button mat-raised-button type="button" class="button" [disabled]="!formGroup.valid" (click)="onSubmit()">
          Submit Form
        </button>
            </div>
        </form>
    </div>

    <div class="help-container" [ngClass]="{ dnone: !helpClicked }">
        <mat-card class="help-card">
            <mat-card-title>¿Como cargo un producto?</mat-card-title>
            <mat-card-subtitle>Sugerencias:</mat-card-subtitle>
            <mat-card-content>
                <p class="title-sugest">Nombre</p>
                <p>Coloca un nombre descriptivo para identificarlo rapidamente</p>
                <mat-divider inset></mat-divider>
                <p class="title-sugest">Descipcion</p>
                <p>
                    Aqui puedes agregar mas informacion por si el nombre no es lo suficientemente descriptivo
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>