table {
  width: 720px;
}

.mat-column-actions {
  width: 40%;
}

.mat-column-Id {
  width: 5%;
}

.mat-column-Name {
  width: 20%;
}

.mat-column-Description {
  width: 25%;
}

.mat-column-Stock {
  width: 10%;
}

::ng-deep .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}

.example-panel-red.mat-select-panel {
  background: rgba(255, 0, 0, 0.5);
}

.disabled-button {
  cursor: not-allowed;
}
